*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* --------------------------------Academics---------------------------------- */
.Academics{
    background-color: teal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    color: white;
}
/* -----------------------------Card holder------------------------------------------------- */
.cardholder{
    height: 50vh;
    color: white;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}