*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* --------------------------------Academics---------------------------------- */
.Academics{
    background-color: teal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    color: white;
}
/* -----------------------------Features------------------------------------------------- */

 /* {
     margin:0;
     padding:0;
      box-sizing:border-box;
font-family: 'Mulish', sans-serif;
      
} */
    
 .feature{
      background: #F0F5FF;
  display:flex;
     height:100vh;
     flex-direction:column;
     justify-content:center;
      align-items:center;
 }
    