.nbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    // background-color: #1f1a25;
    background-color: #0d101e;;
    list-style: none;
    height: 12vh;
    padding: 2rem;
    img{
        padding-top: 1rem;
    }
}
.nbarcontent{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    color: white;
    list-style: none;
    // border: 2px solid white;
}
.nbarcontent li{
    cursor: pointer;
    padding-top: 0.5rem;
   &:hover{
       border-top: 2px solid gold;
   }
}
@media (max-width:500px){
    .nbarcontent{
        display: none;
    }
}