.joinus{
    background-color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  //  border: 2px solid black;
   height: 90vh;
      h1{
        font-family: 'Noto Serif', serif;
        color: grey;
        font-weight: bolder;
        font-size: 40px;
        font-weight: 500;
    }
    h2{
      font-family: 'Noto Serif', serif;
      margin-bottom: 2.5rem; 
    }
   
    
}
.cards-list {
    z-index: 0;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    // border: 2px solid black;
  }
  
  .card {
    margin: 10px ;
    width: 300px;
    height: 300px;
    // border-radius: 35px;
  // box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    
  }
  
  .card .card_image img {
    width: 310px;
    height: 210px;
    // border-radius: 15px;
    object-fit: contain;
    // border: 2px solid black;
    // opacity: 0.8;
    // z-index: 0;
  }
  
  .card .card_title {
    text-align: center;
    font-family: sans-serif;
    font-weight: 400;
    opacity: 1;
    z-index: 2;
    position: inherit;
    font-size: 30px;
    color: white;
    margin-top: -9rem;
  }
  
 
  
  @media all and (max-width: 500px) {
    .card-list {
      flex-direction: column;
    }
  }
  
  
 