@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-wrapper{
    background-color: #F0F5FF;
    hr{
        color: #F0F5FF;
    }
}
.main-info{
    // border: 2px solid white;
    color: white;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0d101e;
    // background-image:    url(../../assets/blackbg3.jpg);
    // background-size:     cover;                    
    // background-repeat:   no-repeat;
    // background-position: center center;  
    h1{
        font-family: 'Noto Serif', serif;
        // color: white;
        font-size: 72px;
        background: linear-gradient(to right, #00c3ff, #ffff1c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        // text-shadow: 2px 8px 40px #3485e4;
    }
    @media (max-width:800px){
        h1{
            font-size: 25px;
        }
    }
    .typed-text{
        font-size: 45px;
        font-family: 'Noto Serif', serif;
    }
}

// property cards-----------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.propertiesh{
    // border: 2px solid white;
    height: 70vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    h4{
        font-size: 40px;
        font-weight: 100;
        font-family: 'Noto Serif', serif;
        margin-bottom: -0.7rem;
    }
    .propertycardholderh{
        // border: 2px solid white;
        height: 95%;
        width: 85%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .propertycardh{
           background-color: white;
            // border: 2px solid black;
            height: 80%;
            width: 24%;
            border-radius: .5rem;
            text-align: left;
           padding: 2rem;
        //    border-bottom: 5px solid #5da9dc;
        border-bottom: 5px solid rgb(66, 128, 204);
           box-shadow: 5px 5px 25px 0 rgb(46 61 73 / 20%);
           h2{
               font-size: 25px;
               line-height: 45px;
               font-family: 'Playfair Display', serif;
            //    color: #269fb1;
            color: #0d101e;
           }
         
           p{
               font-size: 18px;
               color: grey;
               font-weight: 700;
               font-family: 'Roboto', sans-serif;
           }
        }
    }
}
@media (max-width:500px){
    .propertiesh{
        height: 200vh;
        // background-color: rebeccapurple;
        h4{
            font-size: 18px;
            font-weight: lighter;
        }
        .propertycardholderh{
            flex-direction: column;
            width: 90%;
            margin-top: 1rem;
            justify-content: space-evenly;
            .propertycardh{
                width: 85%;
                height: 25%;
                margin-top: .5rem;
                h2{
                    font-size: 20px;
                    line-height: 30px;
                    color: #269fb1;
                }
              
                p{
                    font-size: 15px;
                    color: grey;
                    font-weight: 200;
                }
            }
           
            
        }
    }
    
}

// media query

@media (max-width:700px){
    .infocards{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 120rem;
    }
    .carp{
        height: 100vh;
    }
}
// associations
.associations{
    background-color: white;
    // margin-bottom: 2rem;
    height: 60vh;
  
    h1{
        font-size: 40px;
        font-weight: 100;
        font-family: 'Noto Serif', serif;
        margin-bottom: 4rem;
        padding-top: 2rem;
    }
    
}