@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-wrapper{
    background-color: #F0F5FF;
    hr{
        color: #F0F5FF;
    }
}
.main-info{
    // border: 2px solid white;
    color: white;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0d101e;
    // background-image:    url(../../assets/blackbg3.jpg);
    // background-size:     cover;                    
    // background-repeat:   no-repeat;
    // background-position: center center;  
    h1{
        font-family: 'Noto Serif', serif;
        color: rgb(164, 152, 86);
        font-size: 48px;
        // text-shadow: 2px 8px 40px #3485e4;
    }
    .typed-text{
        font-size: 45px;
        font-family: 'Noto Serif', serif;
    }
}
// property cards-----------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&family=Playfair+Display&display=swap');
.propertiesh{
    // border: 2px solid white;
    height: 62vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    h4{
        font-size: 40px;
        font-weight: lighter;
        
    }
    .propertycardholderh{
        // border: 2px solid white;
        height: 80%;
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .propertycardh{
           background-color: white;
            // border: 2px solid black;
            height: 90%;
            width: 24%;
            border-radius: .5rem;
            text-align: left;
           padding: 2rem;
           border-bottom: 5px solid #5da9dc;
           box-shadow: 5px 5px 25px 0 rgb(46 61 73 / 20%);
           h2{
               font-size: 25px;
               line-height: 45px;
               font-family: 'Playfair Display', serif;
               color: #269fb1;
           }
         
           p{
               font-size: 20px;
               color: grey;
               font-weight: 200;
               font-family: 'Playfair Display', serif;
           }
        }
    }
}


// media query

@media (max-width:500px){
    .infocards{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 120rem;
}
}