.blogbody{
    background-color: #0d101e;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    h4{
        color: white;
        font-size: 48px;
        font-weight: 500;
        margin-top: 3rem;
    }
    .headblog{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        // border: 2px solid white;
        width: 85%;
        height: 50vh;
        .headleft{
            width: 66%;
            height: 100%;
            // border: 2px solid rgb(135, 108, 108);
            display: flex;
            justify-content: center;
            align-items: center;
            img{
               height: 19rem;
               width: 46.5rem;
            }
        }
        .headright{
            width: 33%;
            height: 100%;
            // border: 2px solid white;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1{
                color: white;
                font-family: serif;
                font-weight: 300;
            }
            h6{
                color: white;
                font-family: serif;
                font-size: 20px;
            }
        }
    }
    .downblog{
        // border: 2px solid white;
        height: 100%;
        width: 85%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .db1{
            height: 42vh;
            width: 31%;
            // border-bottom: 2px solid rgb(56, 138, 147);
            
            display: flex;
            flex-direction: column;
            .up{
                // border: 2px solid white;
                height: 40%;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .don{
                border: 2px solid white;
                // background-color:#202330;
                background-color: white;
                // border-bottom-left-radius:.8rem ;
                // border-bottom-right-radius: .8rem;
                border-bottom: 4px solid cyan;
                height: 60%;
                color: black;
                text-align: left;
                padding-left: 1.2rem;
                padding-top: .4rem;
                h1{
                    margin-top: 0rem;
                    color: black;
                    font-size: 25px;
                    font-family: serif;
                    font-weight: 700;
                }
                h3{
                    color: grey;
                    font-size: 20px;
                    font-weight: 500;
                   font-family: serif;
                }
            }
        }
        .db2{
            height: 42vh;
            width: 31%;
            // border: 2px solid white;
            .up{
                // border: 2px solid white;
                height: 40%;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .don{
                border: 2px solid white;
                // background-color:#202330;
                background-color: white;
                height: 60%;
                color: black;
                text-align: left;
                padding-left: 1.2rem;
                padding-top: .4rem;
                // border-bottom-left-radius:.8rem ;
                // border-bottom-right-radius: .8rem;
                border-bottom: 4px solid rgb(84, 198, 133);
                h1{
                    margin-top: 0rem;
                    color: black;
                    font-size: 25px;
                    font-family: serif;
                    font-weight: 700;
                }
                h3{
                    color: grey;
                    font-size: 20px;
                    font-weight: 500;
                   font-family: serif;
                }
            }
        }
        .db3{
            height: 42vh;
            width: 31%;
            // border: 2px solid white;
            .up{
                // border: 2px solid white;
                height: 40%;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .don{
                border: 2px solid white;
                // background-color:#202330;
                background-color: white;
                height: 60%;
                color: black;
                text-align: left;
                padding: 2rem;
                padding-left: 1.2rem;
                padding-top: .4rem;
                // border-bottom-left-radius:.8rem ;
                // border-bottom-right-radius: .8rem;
                border-bottom: 4px solid rgb(86, 157, 228);
                h1{
                    margin-top: 0rem;
                    color: black;
                    font-size: 25px;
                    font-family: serif;
                    font-weight: 700;
                }
                h3{
                    color: grey;
                    font-size: 20px;
                    font-weight: 500;
                   font-family: serif;

                }
            }
        }
    }
}